@mixin background-img($img) {
  background-image: $img;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin vote-buttons {
  background: $blue;
  background: -webkit-linear-gradient(left, $blue, $light_blue);
  background: -moz-linear-gradient(left, $blue, $light_blue);
  background: linear-gradient(to right, $blue, $light_blue);
}

@mixin display-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin before-after {
  font-weight: bold;
  font-family: $font_awesome;
}

@mixin clear-fix {
  content: '';
  display: table;
  clear: both;
}

@mixin transition_hover {
  transition: all $hover_time ease-in-out;
}
