@mixin background-img($img) {
  background-image: $img;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin active-user {
  font-weight: bold;
  color: $fuxia;
  background-color: $light_blue;
}

@mixin input-button($color) {
  background-color: $color;
  color: #fff;
  border: 1px solid $color;
  border-radius: 7px;
  font-weight: bold;
}

@mixin to-vote-button {
  color: #fff;
  border: 2px solid #fff;
  background: $blue;
  background: -webkit-linear-gradient(left, $blue, $light_blue);
  background: -moz-linear-gradient(left, $blue, $light_blue);
  background: linear-gradient(to right, $blue, $light_blue);
}

@mixin voted-button {
  background: $fuxia;
  border: 2px solid $fuxia;
}

@mixin display-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin before-after {
  font-weight: bold;
  font-family: $font_awesome;
}

@mixin clear-fix {
  content: '';
  display: table;
  clear: both;
}

@mixin transition_hover {
  transition: all $hover_time ease-in-out;
}
