main {

  section#groups {
    
    .groups-wrapper {
      padding: $padding_unit *2 0;

      h2 {
        padding: $padding_unit / 2 0;
      }

      .table-wrapper {
        padding: $padding_unit 0;
      }
    }
  }
}
