main {

  section#groups {
    @include background-img($bg_general_tablet);

    .groups-wrapper {
      padding: $padding_unit *2 0;

      h2 {
        padding: $padding_unit / 2 0;
      }

      .table-wrapper {
        padding: $padding_unit 0;
      }
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main {

    section#groups {
      @include background-img($bg_general_desktop);
    }
  }

}
