main section#groups {
  @include background-img($bg_general_tablet);

  h1 {
    color: $blue;
  }

  .sede-info {
    padding: $padding_unit 0;
    font-size: 18px;
    color: $blue;
  }

  .groups-wrapper {
    padding: $padding_unit *2 0;

    &.sede {
      h2 {
        color: $blue;
        padding-right: $padding_unit;
        font-weight: bold;
        cursor: pointer;
      }
    }

    h2 {
      padding: $padding_unit / 2 0;
    }

    table.table {
      background-color: #fff;
      border-radius: 15px;
      opacity: 0.6;
      color: $blue;

      tr,
      th,
      td {
        border: 0px!important;
      }

      thead {
        text-transform: uppercase;
        color: $fuxia;
      }

      tbody {

        tr {
          .active {
            font-weight: bold;
            color: $fuxia;
          }
        }
      }
    }
  }

  .buttons-wrapper {
    p {
      font-size: 24px;
      padding: $padding_unit 0;
    }

    a.btn {
      @include input-button($fuxia);
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main section#groups {
    @include background-img($bg_general_desktop);
  }
}
