main {
  min-height: 100vh;

  section#login {
    @include background-img($bg_login_tablet);
    min-height: 100vh;

    .logo {
      width: 100%;
      padding: $padding_unit * 2;
    }

    .card {
      padding: $padding_unit;
      border-radius: 15px;
      opacity: 0.8;

      button.btn {
       @include input-button($fuxia);
      }
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main {

    section#login {
      @include background-img($bg_login_desktop);
    }
  }

}
