main section#login {
  @include background-img($bg_login_tablet);
  min-height: 100vh;
  padding: 0;

  .container {
    height: 100%;
    min-height: 100vh;

    .logo-wrapper {
      width: 100%;
      padding: 0 $padding_unit * 3 $padding_unit* 2;
    }

    .card {
      button.btn {
        @include input-button($fuxia);
      }
    }
  }

  .disabled-login {
    padding: $padding_unit * 2 0;

    .logo-lg {
      margin-bottom: $margin_unit * 4;
    }

    h2.card {
      color: $fuxia;
      padding: $padding_unit 0;
      text-shadow: 1px 1px #fff;
      font-size: $mobile_font;

      span {
        padding: $padding_unit 0;
      }
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  main section#login {

    .disabled-login {
      padding: $padding_unit * 3 0;

      .logo-lg {
        margin-bottom: $margin_unit * 6;
      }

      h2.card {
        padding: $padding_unit * 5 0;
        font-size: $title_size;
      }
    }
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main section#login {
    @include background-img($bg_login_desktop);

    .disabled-login {
      padding-top: $padding_unit * 3;
      padding-bottom: 0;

      h2.card {
        padding: $padding_unit * 6 0;
      }
    }
  }
}
