main section#login {
  @include background-img($bg_login_tablet);
  min-height: 100vh;

  .container {
    height: 100%;
    min-height: 100vh;

    .logo-wrapper {
      width: 100%;
      padding: 0 $padding_unit * 3 $padding_unit* 2;
    }

    .card {
      button.btn {
        @include input-button($fuxia);
      }
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main section#login {
    @include background-img($bg_login_desktop);
  }
}
