main section#votes-form,
main section#votes-show, {
  @include background-img($bg_general_tablet);

  h1 {
    color: $blue;
  }

  .players-wrapper {
    padding: $padding_unit * 2 0;

    h3.player-name {
      color: $blue;

      span {
        color: $fuxia;
      }
    }
  }

  .form-wrapper {
    padding: $padding_unit * 2 0;

    form {

      .form-group {
        padding-bottom: $padding_unit;

        h3 {
          padding-bottom: $padding_unit;
        }

        p.comment-message {
          color: $fuxia;
          margin: 0;
          padding-top: $padding_unit / 2;
        }

        .radio-toolbar {

          input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;

            &:checked + label.radio-label,
            &:focus + label.radio-label {
              @include voted-button;
            }
          }

          label.radio-label {
            width: $vote_button;
            height: $vote_button;
            border-radius: $vote_button / 2;
            font-weight: bold;
            font-size: $paragraph_size;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0 $margin_unit;
            @include to-vote-button;
            @include transition_hover;

            &:hover {
              background-color: blue;
            }
          }
        }
      }

      .submit-wrapper {
        padding: $padding_unit 0;

        button[type="submit"] {
          @include input-button($fuxia);
        }
      }
    }
  }

  .buttons-wrapper {

    a.btn {
      margin: 0 $margin_unit;

      &.btn-back {
        @include input-button($green);
      }

      &.btn-cancel {
        @include input-button($blue);
      }
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main section#votes-form {
    @include background-img($bg_general_desktop);
  }
}
