main section#votes-index {
  @include background-img($bg_general_tablet);

  h1,
  h1 + p {
    color: $blue;
  }

  .sede-info {
    padding: $padding_unit 0;
    color: $blue;
  }

  .groups-wrapper {
    padding: $padding_unit *2 0;

    &.sede {
      h2 {
        color: $blue;
        padding-right: $padding_unit;
      }
    }

    a.btn {
      margin: $margin_unit * 3 0;
      @include input-button($fuxia);

      &.voted {
        @include input-button($green);
      }

      &.to-vote {
        @include input-button($blue);
      }
    }

    h2 {
      padding: $padding_unit / 2 0;
    }

    table.table {
      background-color: $white_opacity;
      border-radius: 15px;
      color: $blue;

      tr,
      th,
      td {
        border: 0px!important;
      }

      thead {
        text-transform: uppercase;
        color: $fuxia;
      }

      tbody {
        tr {
          td.player {
            width: 40%;
          }
          td {
            width: 30%;
          }
        }
      }
    }
  }

  .buttons-wrapper {
    p {
      padding: $padding_unit 0;
    }

    a.btn {
      @include input-button($fuxia);
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

  main section#votes-index {
    @include background-img($bg_general_desktop);
  }
}

/* Breakpoint Small 576px sm */
@media screen and (max-width: 576px) {
  h1 {
    margin-top: 30px;
  }

  table.table tr {
    th.team_xs  {
      display: none;
    }
  }
}
/* Breakpoint From Small 576px sm */
@media screen and (min-width: 577px) {

  table.table tr {
    th.team_xs  {
      display:block;
    }
  }
}
