header {

  nav.navbar {

    .img-logo {
      max-width: 200px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .admin-select {
      padding-right: $padding_unit * 2;
      text-align: center;

      &.rankings {

        p {
          margin-bottom: $margin_unit / 2;
        }

        a.btn {
          color: black;
          background-color: #efefef;
        }
      }

      form {

        select,
        input[type="submit"] {
          border: none;
          border-radius: 5px;
        }
        input[type="submit"] {
          padding: 0 $padding_unit / 2;
        }
      }
    }
  }
}
